<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>GeoPlant Web</title>
  
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!--style of textarea-->
    <style> 
        textarea{
    
    border-radius: 30px;
    padding:15px;
}
        
    </style>
    <!--end of style-->
  
  </head>
  <body class="custom-background">
  
    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
  
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Prijavi problem</h1>
                    </div>
                    <form class="user">
                                    <ul class="list-group list-group-flush">
                                            
                                            <li class="list-group-item"><span class="" style="color:grey" >Imate problema sa našom aplikacijom?
                                                    Ostavite povratne informacije ili podijelite svoje ideje sa nama!</span></li>
                                                <br>
                                                    <textarea rows="9" cols="10" maxlength="300" ></textarea>
                                                
                                                  
                                                      
                                            
                                          </ul>
                             
                                  
  
                          <br>
                          <a href="index.html" class="btn btn-primary btn-user btn-block btn-custom">
                              Pošalji
                            </a><br>
                            <a href="odgovori.html" class="btn btn-primary btn-user btn-block btn-custom">
                                    Vidi sva postavljena pitanja
                                  </a>
                        </div>
                        <div class="text-center">
                          <a class="small custom-link" href="login.html" style="color:grey">Visiot © Geoplant 2019</a>
                        </div>
                  
                      
                      
                      
                      </div>
                      
                    
      <hr>
                    </form>
                    
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="/javascripts/sb-admin-2.min.js"></script>
  
  
  
  
  </body></html>